body{
    background-color: dodgerblue;
}

.center{
    max-width: 660px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.yellow{
    background-color: yellow;
    padding: 100px;
    margin: 10px;
}

.esticar{
    width: 500px;
}

.aumentar{
    padding-bottom: 300px;
}